APP_NAME= FUN-API # Nombre de la aplicación
APP_HOST=localhost # Host de la aplicación
PORT=3000 # Puerto de la aplicación
App_ENV=development

# Database
DB_HOST=localhost # Host de la base de datos
DB_USER=root # Usuario de la base de datos
DB_PASSWORD= # Contraseña de la base de datos
DB_NAME=fun_api # Nombre de la base de datos
DB_PORT=3306 # Puerto de la base de datos
DB_DIALECT=mysql # Dialecto de la base de datos

# JWT
JWT_SECRET= JWT_SECRET_KEY # Secret de JWT

# CORS
CORS_ORIGIN=* # Origen de CORS
